// ------- PARAMETERS ------- //
params {

    // Pipeline settings
    join_projects = true
    merge_samples = true
    save_individual = false
    save_unintegrated = false

    // Processing settings
    sample_column = "sample"
    gex_source = "cellbender"
    processing_size = 2
    macs2_path = "/rds/general/project/ukdrmultiomicsproject/live/MAP_pipelines/multiome/assets/macs2/bin/macs2"

    QC {

        expressed_gene_count = 10
        expressed_gene_sample_pct = 10
        min_rna_count_per_cell = 500
        max_rna_count_per_cell = 25000
        min_atac_count_per_cell = 1000
        max_atac_count_per_cell = 100000
        max_mitochondrial_gene_pct = 10
        max_nucleosome_signal = 3
        min_tss_enrichment = 1
        min_cells_per_sample = 50
        max_blacklist_ratio = 0.01
        remove_mt_genes = true
        remove_mt_peaks = true
        doublet_pvalue = 0.05

    }

    // Output settings
    outdir = "${launchDir}/snomics_to_seurat_output"
}

// ------- SINGULARITY SETTINGS ------- //
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/rds/general/user/mat21/home/containers"
  runOptions = "-B /rds/,/rdsgpfs/,/rds/general/ephemeral/user/$USER/ephemeral/tmp/:/tmp,/rds/general/ephemeral/user/$USER/ephemeral/tmp/:/var/tmp"
}

process{
    container = "mikerobiology/snomics_to_seurat:latest"
}

// ------- HPC SETTINGS ------- //
env {
  TMPDIR="/rds/general/ephemeral/user/$USER/ephemeral/tmp/"
}

workDir = "/rds/general/ephemeral/user/$USER/ephemeral/tmp/"

process{
    shell = ['/bin/bash', '-euo', 'pipefail']
    executor = 'pbspro'
    queue = 'v1_short8'
    cache = 'lenient'
    cpus = 8
    memory = 64.GB
    time = 30.m

    withLabel: 'local' {
        executor = 'local'
        cpus = 1
        memory = 4.GB
    }

    withName: LOAD {
        cpus = 2
        memory = 64.GB
        time = 30.m
    }

    withName: FIND_FEATURES {
        cpus = 2
        memory = 128.GB
        time = 8.h
    }

    withName: REBASE_FEATURES {
        cpus = 8
        memory = 64.GB
        time = 30.m
    }

    withName: MERGE {
        cpus = 40
        memory = 750.GB
        time = 8.h
    }
}

executor {
    $pbspro {
	    queueSize = 45
        maxForks = 45
        submitRateLimit = '1sec'
        queueSize = 45
        maxForks = 45
    }

    $local {
        queueSize = 1
        maxForks = 1
    }
}

// ------- PUBLISH SETTINGS ------- //
process {
    if (params.save_individual || !params.merge_samples) {
        withName: LOAD {
            publishDir = [
                overwrite: true,
                path: "${params.outdir}/individual/",
                mode: "copy",
                saveAs: { filename -> filename.equals('failed_samples.txt') ? null : filename }
            ]
        }
    }

    if (params.merge_samples) {
        withName: MERGE {
            publishDir = [
                overwrite: true,
                path: "${params.outdir}/merged/",
                mode: "copy"
            ]
        }
    }

    withName: SAVE_PARAMS {
        publishDir = [
            overwrite: true,
            path: "${params.outdir}",
            mode: "copy"
        ]
    }

    withName: SAVE_FAILED {
        publishDir = [
            overwrite: true,
            path: "${params.outdir}",
            mode: "copy"
        ]
    }
}