// ------- PARAMETERS ------- //
params {

    // Pipeline settings
    join_projects = false
    merge_samples = true
    save_individual = false

    // Processing settings
    sample_column = "sample"
    gex_source = "cellbender"

    QC {

        // QC settings (comment out will remove filter)
        expressed_gene_threshold = 1
        min_rna_count_per_cell = 400
        max_rna_count_per_cell = 25000
        min_atac_count_per_cell = 1000
        max_atac_count_per_cell = 100000
        max_mitochondrial_gene_pct = 10
        max_nucleosome_signal = 3
        min_tss_enrichment = 1

    }

    // Output settings
    outdir = "${launchDir}/output"
}


// ------- PIPELINE SETTINGS ------- //
workDir = "/rds/general/ephemeral/user/$USER/ephemeral/tmp/"


// ------- PUBLISH SETTINGS ------- //

process {
    if (params.merge_samples) {
        withName: MERGE {
            overwrite: true
            path: "${params.outdir}/merged/"
            mode: "copy"
        }
    }

    if (params.save_individual || !params.merge_samples) {
        withName: LOAD {
            overwrite: true
            path: "${params.outdir}/individual/"
            mode: "copy"
        }
    }

    withName: SAVE_PARAMS {
        overwrite: true
        path: "${params.outdir}"
        mode: "copy"
    }
}


// ------- CONDA SETTINGS ------- //
conda {
    enabled = true
    useMamba = true
    cacheDir = "${launchDir}/conda_cache/"
}

