// ------- PARAMETERS ------- //
params {

    // Pipeline settings
    join_projects = false
    merge_samples = true
    save_individual = false

    // Processing settings
    sample_column = "sample"
    gex_source = "cellbender"

    QC {

        // QC settings (comment out will remove filter)
        expressed_gene_threshold = 1
        min_rna_count_per_cell = 400
        max_rna_count_per_cell = 25000
        min_atac_count_per_cell = 1000
        max_atac_count_per_cell = 100000
        max_mitochondrial_gene_pct = 10
        max_nucleosome_signal = 3
        min_tss_enrichment = 1

    }

    // Output settings
    outdir = "${launchDir}/snomics_to_seurat_output"
}

// ------- SINGULARITY SETTINGS ------- //
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/rds/general/user/mat21/home/containers"
  runOptions = "-B /rds/,/rdsgpfs/,/rds/general/ephemeral/user/$USER/ephemeral/tmp/:/tmp,/rds/general/ephemeral/user/$USER/ephemeral/tmp/:/var/tmp"
}

process{
    container = "mikerobiology/snomics_to_seurat:latest"
}

// ------- HPC SETTINGS ------- //
env {
  TMPDIR="/rds/general/ephemeral/user/$USER/ephemeral/tmp/"
}

workDir = "/rds/general/ephemeral/user/$USER/ephemeral/tmp/"

process{
    shell = ['/bin/bash', '-euo', 'pipefail']
    executor = 'local'
}


executor {
    $pbspro {
	    queueSize = 45
        maxForks = 45
        submitRateLimit = '1sec'
    } 

    //queue  = 'v1_short8'
    //cpus = 32
    //memory = 128.GB
    //time = 3.h
}

// ------- PUBLISH SETTINGS ------- //
process {
    if (params.save_individual || !params.merge_samples) {
        withName: LOAD {
            publishDir = [
                overwrite: true,
                path: "${params.outdir}/individual/",
                mode: "copy"
            ]
        }
    }

    if (params.merge_samples) {
        withName: MERGE {
            publishDir = [
                overwrite: true,
                path: "${params.outdir}/merged/",
                mode: "copy"
            ]
        }
    }

    withName: SAVE_PARAMS {
        publishDir = [
            overwrite: true,
            path: "${params.outdir}",
            mode: "copy"
        ]
    }
}